/Challenge2/Reach/nbproject/private/
/Challenge2/Reach/build/
/Challenge3/Maxsum/nbproject/private/
/Challenge3/Maxsum/build/
/Challenge4/Plus1/nbproject/private/
/Challenge4/Plus1/build/
/Challenge4/Graph1/nbproject/private/
/Challenge4/Graph1/build/
/Challenge5/Flip/nbproject/private/
/Challenge5/Flip/build/